player-connection-mode=Listen
player-connection-guid=543674276
player-connection-debug=0
player-connection-project-name=VirtualFrontlineMR
player-connection-ip=192.168.56.1
player-connection-ip=192.168.160.1
player-connection-ip=172.17.144.1
player-connection-ip=192.168.11.4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=OculusXRPlugin
xr-meta-enabled=1
xr-vulkan-extension-fragment-density-map-enabled=1
build-guid=b632ba4b5afc435b8da9c0ce80b25301
